@import './Style.scss';

body {
  font-family: 'DM Sans', sans-serif;
}

.app-container {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #f8f7f4;
  gap: 30px;
}

.main-container1 {
  display: flex
;
  width: 20%;
  flex-direction: column;
  gap: 30px;
}

//div1
.main-div-1 {
  @include important-style;
  background-color: #fff7c0;
}

.main-div-1 {
  p {
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -1.5px;
    // text-align: $text-align;
  }

  span {
    color: #964a96;
    // text-align: $text-align;
  }
}

.main-div-1 {
  img {
    // margin: 10px;
    display: block;
    width: $img_width;
    // margin-bottom: 80px
  }
}


//div-2
.main-div-2 {
  @include important-style;
  background-color: #efaa3d;
}

.main-div-2 {
  p {
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -1.5px;
    // text-align: $text-align;
  }

  span {
    color: #964a96;
    // text-align: $text-align;
  }
}

.main-div-2 {
  img {
    // margin: 10px;
    display: block;
    width: $img_width;
    margin: 10px;
    // margin-bottom: 80Px;
  }
}



//main-container2

.main-container2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.sub-container1 {
  width: $img_width;
  display: flex;
  gap:30px
}

.social-container {
  width: 70% !important;
  display: flex;
    flex-direction: column;
    gap: 30px;
}

.schedule-container {
  width: 30 !important;
  background-color: #696c9e;
  @include important-style;
  text-align: center;

  h3 {
    font-size: 35px;
    color: black;
  }

  p {
    color: white;
    font-size: 27px;
  }

  img {
    width: $img_width;
  }
}

.social-media-container {
  background-color: #696c9e;
  @include important-style;
  text-align: center;

  h3 {
    font-size: 35px;
    color: white;
  }

  p {
    color: white;
  }

  img {
    width:60%;
  }
}


.social-container {
  width: $img_width;
}

.maintain-container-1 {
  @include important-style;
  background-color: #ffff;
  width: $contain_width;

  img {
    width: $img_width;
  }

  p {
    font-size: 42px;
    // font-weight: bold;
  }

}

.maintain-container-2 {
  @include important-style;
  background-color: #efaa3d;
  width: $contain_width;
  // margin-bottom: -15px;

  img {
    width:90%;
    margin-bottom: -5px;
    border-radius: 10px;
    /* margin-top: 40px; */
    /* margin: auto; */
    margin-left: 13px;
}
  

  p {
    font-size: 41px;
    font-weight: bold;
  }
}

.manage-media-container {
  display: flex;
  gap:30px
}

.schedule-container {
  width: 30%;
  background-color: #c4baba;
  .schedule-container h3 {
    font-size: 35px;
    color: black;
}
  p{
      color: black;
      font-size: 20px;
  }
  img{
    width: 90%;
    margin-right: -39px;
    border-radius: 10px;
  }
}

.sub-container2 {
  width: 100%
}

.sub-container2-div {
  display: flex;
  gap:30px;
  width:100%
}

.sub-container2-div1 {
  width: $contain_width_1;
  @include important-style;
  background-color: #fff;
  width: 30%;

  img {
    width: $img_width;
  }

  h3 {
    font-size: 45px;
    font-weight: bold;
  }
}

.sub-container2-div2 {
  display: flex;
  width: 70%;
  background-color: #696c9e;
  @include important-style;

  img {
    width: $contain_width;
    margin: 10px;
  }

  h3 {
    font-size: 41px;
    font-weight: bold;
  }
}

@media only screen and (max-width:1200.5px) {
  .main-div-1 p {
    font-size: 37px;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  .main-div-2 p {
    font-size: 37px;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  .maintain-container-1 p {
    font-size: 35px;
    font-weight: bold;
  }

  .sub-container2-div1 h3 {
    font-size: 35px;
    font-weight: bold;
  }

}

@media only screen and (max-width:1100px) {
  .main-div-1 p {
    font-size: 43px;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  .main-div-2 p {
    font-size: 43px;
    font-weight: bold;
    letter-spacing: -1.5px;
  }
  .maintain-container-2 p {
    font-size: 37px;
    font-weight: bold;
}
  .sub-container2-div2 h3 {
    font-size: 30px;
    font-weight: bold;
}
.schedule-container h3 {
  font-size: 33px;
  color: black;
}
.sub-container2-div1 h3 {
  font-size: 42px;
  font-weight: bold;
}

}

@media only screen and (max-width: 1024.5px) {
  $width_1024: 30%;
  $width_40: 40%;

  .main-container1 {
    width: $width_1024;
  }

  .schedule-container {
    width: 40%;
  }
  .sub-container2-div2 h3 {
    font-size: 26px;
    font-weight: bold;
}
.main-div-2 p {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1.5px;
}
.main-div-1 p {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1.5px;
}
.sub-container2-div1 h3 {
  font-size: 41px;
  font-weight: bold;
}
.schedule-container h3 {
  font-size: 29px;
  color: black;
}
.maintain-container-1 p {
  font-size: 40px;
  font-weight: bold;
}
}

@media only screen and (max-width:768.5px) {
  .schedule-container p {
    color: white;
    font-size: 17px;
  }

  .maintain-container-1 p {
    font-size: 30px;
    font-weight: bold;
  }

  .maintain-container-2 p {
    font-size: 30px;
    font-weight: bold;
  }

  .main-div-1 p {
    font-size: 38px;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  .main-div-2 p {
    font-size: 38px;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  .sub-container2-div1 h3 {
    font-size: 36px;
    font-weight: bold;
  }


  .social-media-container h3 {
    font-size: 28px;
    color: white;
  }

  .schedule-container h3 {
    font-size: 25px;
    color: black;
}
.maintain-container-2 img {
  width: 90%;
  margin-bottom: -5px;
  border-radius: 10px;
  margin-top: 40px;
  /* margin: auto; */
  margin-left: 13px;
  /* position: absolute; */
}
.schedule-container img {
  width: 90%;
  margin-right: -31px;
  border-radius: 10px;
}
}

@media only screen and (max-width:678.5px) {
  .main-div-1 p {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  .main-div-2 p {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  .social-media-container h3 {
    font-size: 22px;
    color: white;
  }

  .schedule-container h3 {
    font-size: 20px;
    color: white;
  }

  .sub-container2-div1 h3 {
    font-size: 28px;
    font-weight: bold;
  }

  .sub-container2-div2 h3 {
    font-size: 19px;
    font-weight: bold;
  }

  .sub-container2-div1 h3 {
    font-size: 25px;
    font-weight: bold;
  }
}

@media only screen and (max-width:580.5px) {
  .app-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .main-container1 {
    width: 100%;
    // max-width: 350px;
  }

  .main-container2 {
    width: 100%;
  }

  .social-container {
    width: 93% !important;
  }

  .main-div-1 p {
    font-size: 37px;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  .main-div-2 p {
    font-size: 44px;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  .sub-container1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .manage-media-container {
    display: flex;
    flex-direction: column;
  }

  .maintain-container-1 {
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0px;
    background-color: white;
    width: 100%;
  }

  .maintain-container-2 {
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0px;
    background-color: #efaa3d;
    width: 100%;
  }

  .schedule-container {
    width: 100%;
  }

  .schedule-container p {
    color: white;
    font-size: 29px;
  }

  .sub-container2-div {
    display: flex;
    flex-direction: column;
  }

  .sub-container2-div1 {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0px;
    background-color: #fff;
  }

  .sub-container2-div2 {
    display: flex;
    width: 70%;
    background-color: #696c9e;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px;
    flex-direction: column;
  }

  .sub-container2-div2 {
    display: flex;
    width: 70%;
    background-color: #696c9e;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px;
    flex-direction: column;

  }

  .sub-container2-div2 {
    display: flex;
    width: 100%;
    background-color: #696c9e;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px;
  }

  .sub-container2-div2 h3 {
    font-size: 40px;
    font-weight: bold;
  }

  .sub-container2-div1 p {
    font-size: 30px;
  }

  .social-media-container h3 {
    font-size: 40px;
    color: white;
  }

  .maintain-container-1 p {
    font-size: 40px;
    font-weight: bold;
  }

  .maintain-container-2 p {
    font-size: 40px;
    font-weight: bold;
  }

  .schedule-container h3 {
    font-size: 40px;
    color: white;
  }
}

@media only screen and (max-width:375.5px) {
  .maintain-container-1 p {
    font-size: 35px;
    font-weight: bold;
}
.schedule-container {
  width: 100%;
  background-color: grey;
  margin-top: 15px;
}
}

@media only screen and (max-width:480.5px) {
  .main-div-1 p {
    font-size: 37px;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  .maintain-container-2 p {
    font-size: 35px;
    font-weight: bold;
  }

  .maintain-container-2 img {
    width: 70%;
    margin-bottom: -15px;
  }

  .schedule-container h3 {
    font-size: 28px;
    color: black;
  }

  .schedule-container {
    width: 100%;
    background-color: grey;
  }

  .schedule-container p {
    color: black;
    font-size: 23px;
  }
  .schedule-container img {
    width: 90%;
    margin-right: -53px;
    border-radius: 10px;
}

  .sub-container2-div1 {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin:5px 0px;
    background-color: #fff;
    order: 2;
  }

  .sub-container2-div2 {
    display: flex;
    width: 100%;
    background-color: #696c9e;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px;
    order: 1
  }
  .sub-container2-div2 img {
    width: 70%;
    margin: auto;
}
.sub-container2-div2 h3 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
.sub-container2-div1 h3 {
  font-size: 45px;
  font-weight: bold;
}

.sub-container2-div1 img {
    width: 100%;
}
.sub-container2-div1 {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0px;
  background-color: #fff;
  order: 2;
}
.main-div-2 {
  padding: 10px;
  border-radius: 5px;
  background-color: #efaa3d;
  margin-top: 20px;
  // padding-bottom: -40px
}
.social-container {
  width: 100% !important;
}
}