$text-align: center;
$img_width: 100%;
$main-bg-color: #fff7c0;
$contain_width: 50%;
$contain_width_1: 20%;


@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
}
@mixin important-style {
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}